:root {
    --primary-color: #3488d2;
    --primary-dark: #1262a6;
    --sidebag-bg: #1a1f30;
    --list-bg: #f6f6f6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    line-height: 1.2;
}



.loader.loading {
    cursor: wait;

    .ionicon {
        animation-name: rotate;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    .ionicon * {
        stroke: #257fb3;
    }
}

.loader {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
}

.loader::after {
    display: none;
}

a {
    color: #555;
}

.data-list {
    height: 100%;
}

.data-table-wrap {
    height: 100%;
}

.data-table-content {
    height: calc(100% - 50px);
}

#datalist {
    height: 100%;
}

.data-wraper {
    height: 100%;
}

.mail-list .data-wraper .data-wrap {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
    }
}

.data-wrap {
    height: calc(100% - 45px);
    overflow-y: auto;
    scrollbar-width: none;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
}

table tr.removed td {
    background: rgb(255, 225, 225) !important;
}

.status-wrap {
    .ionicon:hover {
        color: var(--primary-color);
    }

    &>div {
        margin-left: 12px;
    }

    .icon-wrap svg {
        width: 20px;
        display: flex;
        height: 20px;
    }
}

.collapse {
    display: none;
}

.dropdown.flx .dropdown-items {
    display: flex;
}

.dropdown .dropdown-items {
    display: none;
    position: absolute;
    right: 10px;
    flex-direction: column;
    background: linear-gradient(-40deg, rgba(255, 255, 255, 0.3), rgb(255, 255, 255));
    padding: 8px 0;
    border: 1px solid rgba(255, 255, 255, .8);
    border-radius: 4px;
    min-width: 170px;
    z-index: 9999;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.26), 2px 4px 18px rgba(0, 0, 0, 0.06) inset;
    -webkit-backdrop-filter: blur(8%);
    backdrop-filter: blur(5px);
}

.dropdown .dropdown-items a {
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #f4f4f4;
    display: flex;
    align-items: center;
}

.dropdown .dropdown-items a svg {
    width: 18px;
    margin-right: 8px;
}

.dropdown .dropdown-items a svg .Nfill {
    fill: #555;
}

.dropdown .dropdown-items a:hover svg .Nfill {
    fill: #fff;
}

.dropdown .dropdown-items a:hover,
.dropdown .dropdown-items a.active {
    background: var(--primary-color);
    color: #fff;
}

.dropdown .dropdown-items a:last-child {
    border-bottom: none;
}

.dropdown.open .dropdown-items {
    display: flex;
}

.form-wrap {
    padding: 25px;
}

.input-wrap {
    margin-bottom: 5px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 5px;
}

.form-label {
    font-size: 12px;
}

.form-group {
    margin-bottom: 10px;
}

/*Button Css */
.btn {
    background-color: #f6f6f6;
    padding: 5px 15px;
    line-height: 1;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.3);
    display: inline-block;
    border-radius: 20px;
    min-height: 2.4rem;
}

.data-table .btn {
    min-height: initial;
}

.btn.btn-primary {
    color: #ffff;
    background: var(--primary-color);
}

.btn.btn-radius {
    border-radius: 30px;
}

.btn.btn-icon svg {
    max-width: 25px;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translate(0, -50%);
}

.btn.btn-icon {
    padding-left: 35px;
    position: relative;
}

.btn-new {
    padding: 5px 16px;
    background: var(--primary-color);
    border-radius: 15px;
    display: inline-block;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    height: 28px;
    box-shadow: 0px 0px 2px #5e5e5ede;
}

.btn-success {
    background: rgba(29, 134, 35, 0.938);
    color: #fff;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-danger {
    background: rgba(134, 29, 29, 0.938);
    color: #fff;
    border-color: rgba(0, 0, 0, 0.2);
}

/*Components*/

/* Custom Select */
.customSelect {
    position: relative;
}

.customSelectTog {
    padding: 6px 12px;
    border: 1px solid #ddd;
    min-width: 200px;
    border-radius: 20px;
    padding-right: 25px;
    position: relative;
    font-size: 12px;
    color: #666;
}

.customSelectTog::before {
    content: "";
    position: absolute;
    right: 8px;
    top: 11px;
    border: 4px solid transparent;
    border-top-color: transparent;
    border-top-color: #bbb;
}

.customSelectTog::after {
    content: "";
    position: absolute;
    right: 8px;
    top: 10px;
    border: 4px solid transparent;
    border-top-color: #fff;
}

.optionitem-wrap .selected {
    background: var(--primary-color);
    color: #fff;
}

.optionItems {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 0;
    position: absolute;
    min-width: 200px;
    background: #fff;
    top: 30px;
    z-index: 9;

    .optionGroupLabel {
        padding: 5px;
        font-weight: 300;
        color: #666;
        border-bottom: 1px solid #ddd;
        display: flex;
        justify-content: space-between;
    }

    .custom-select-option {
        padding: 5px 15px;
        border-bottom: 1px solid #f6f6f6;
        display: block;
    }

    .optionitem-wrap {
        position: relative;
    }
}


/*Relaease Role Set*/

.customSelectTog.releaseRoleCustomSelect {
    width: 20px;
    max-width: 20px;
    min-width: initial;
    padding: 2px 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    font-size: 21px;
    line-height: 1;
    cursor: pointer;
    margin-top: 10px;
}

.customSelectTog.releaseRoleCustomSelect::before {
    display: none;
}

.customSelectTog.releaseRoleCustomSelect::after {
    display: none;
}


.release-role-item {
    display: flex;
    position: relative;
    padding: 5px 10px;
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 5px;
    background: var(--primary-color);
    color: #fff;

    .releaseRoleType {
        text-transform: capitalize;
        margin-right: 5px;
    }

    .removeRoleType {
        position: absolute;
        right: 8px;
        top: 5px;
        cursor: pointer;
    }
}


.release-control-role {
    width: 250px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.compose-area {
    display: flex;
    justify-content: space-around;
    padding: 45px 0;
}

.btnCompose {
    display: flex;
    background: #313a57;
    align-items: center;
    color: #fff;
    padding: 7px 16px;
    border-radius: 40px;

    .compose-icon {
        height: 20px;
        width: 20px;
        background-size: 20px;
        margin-right: 10px;
    }
}

.btnCompose .Nfill {
    fill: #fff;
}

.btnCompose svg {
    width: 18px;
    margin-right: 2px;
}

.popup-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.popup-body {
    background: #fff;
    max-width: 70vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 400px;
    padding: 30px 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);

    .popUpHeader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        cursor: move;
    }

    .closePopup {
        position: absolute;
        right: 10px;
        top: 10px;
        line-height: 0;
        font-size: 35px;
        font-weight: 300;
        color: #ff6565;
        cursor: pointer;
        padding: 16px 10px;
    }
}

.form-header {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    margin-bottom: 18px;
    font-size: 17px;
}

/*notificatiom*/
.ntf {
    position: fixed;
    bottom: 50px;
    padding: 10px;
    left: 20px;
    background: rgba(255, 255, 255, 0.5);
    min-width: 200px;
    border: 1px solid;
    border-radius: 3px;
}

.ntf.error {
    background: rgba(255, 0, 0, 0.19);
    color: #fff;
    border-color: #ff7a7a;
}

.ntf.success {
    background: rgba(0, 255, 13, 0.19);
    color: #fff;
    border-color: #7aff85;
}

.removeMsg {
    position: absolute;
    right: 0;
    top: 50%;
    line-height: 0;
    padding: 5px 6px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: #fff;
}

/*Data Table*/
.data-table-wrap,
.innderBody {
    background: #fff;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    box-shadow: 0px 0 8px rgba(0, 0, 0, .05);
}

.data-table-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #f4f4f4;
}

.data-table-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #f2f2f2;
    justify-content: flex-end;
}

.data-table-footer.settings {
    justify-content: flex-start;
}

.settings-group-head {
    margin-bottom: 15px;
    display: block;
    border-bottom: 1px solid #f7f7f7;
    padding: 5px 0;
}

.settings-group-inner {
    padding-left: 15px;
}

.data-title h2 {
    font-size: 18px;
    font-weight: 400;
    color: #3488d2;
    text-shadow: 1px 1px 1px rgba(117, 117, 117, 0.39);
    letter-spacing: 0px;
}

.data-table {
    width: 100%;
    border-collapse: collapse;

    thead {
        background: var(--primary-color);
        color: #fff;
    }

    tbody tr:nth-child(2n) {
        background: var(--primary-color);
    }

    tbody tr:nth-child(2n) td {
        background: rgba(255, 255, 255, 0.9);
    }
}

.data-table th {
    font-weight: 500;
}

/*Pagination*/
.pagination {
    display: flex;
    justify-content: flex-end;

    a {
        background: #fff;
        padding: 4px 8px;
        border-radius: 50px;
        font-size: 14px;
        line-height: 1;
        border: 1px solid rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 2px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 0 0 3px rgba(36, 36, 36, 0.25) inset;


        &.active {
            background: var(--primary-color);
            color: #fff;
        }
    }
}

/*Main Layout*/
.detailsOpend {
    .hdesk-wrap .main-wrap .mail-list-item .snippet {
        padding-left: 0;
        padding-top: 10px;
    }

    .mail-list-item.current {
        background: rgba(64, 143, 212, .1);
    }

}


.hdesk-wrap .main-wrap .mail-list-item.unreaded {
    background: rgba(200, 200, 200, .1);

    .singleLine,
    .snippet .subject-line {
        color: #000;
        font-weight: 500;
    }
}


.hdesk-wrap .main-wrap .mail-list-item:hover {
    background: rgba(52, 136, 210, 0.02);

    .listControll .list-checkBox {
        background: rgba(0, 0, 0, 0.06);
        border: 1px solid rgba(0, 0, 0, 0.04);
    }
}

.user-select {
    position: fixed;
    padding: 0px;
    border: 1px solid #ddd;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, .1);
    -webkit-animation: izoom 0.3s ease-in-out normal;
    animation: izoom 0.3s ease-in-out normal;
    z-index: 999999999;

    .close-assign {
        position: absolute;
        right: 4px;
        top: 4px;
        background: rgba(0, 0, 0, .1);
        line-height: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15px;
        width: 15px;
        border-radius: 10px;
        color: #f00;
        cursor: pointer;
        z-index: 999;
    }

    .user {
        padding: 3px 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.04);
        color: #535353;
        cursor: pointer;

        &:last-child {
            border-bottom: 0;
        }

        &:hover {
            background: #f2f2f2;
        }
    }

}

@keyframes izoom {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.hdesk-wrap {
    display: flex;
    height: 100vh;

    .sidebar {
        min-width: 180px;
        max-width: 180px;
        background-color: var(--sidebag-bg);
        width: 14vw;
        overflow: hidden;
    }

    .main-wrap {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        position: relative;
        background: #f6f6f6;
        height: 100%;
        overflow: hidden;

        .body-wrap {
            padding: 10px;
            height: calc(100% - 40px);
            overflow-y: auto;
            scrollbar-width: thin;
        }

        .mail-list {
            display: flex;
            background: #fff;
            flex-direction: column;
            border-radius: 5px;
            overflow: hidden;
        }

        .mail-list-item {
            display: flex;
            padding: 6px;
            align-items: center;
            border: 1px solid #ececec;
            position: relative;
            margin-top: -1px;
            border-left: 0;
            border-right: 0;

            .listControll {
                margin-right: 15px;
                display: flex;
                align-items: center;

                .list-checkBox {
                    background: transparent;
                    padding: 8px;
                    border-radius: 50%;
                    line-height: 1;
                    border: 1px solid transparent;
                }

                .important-controll {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 6px;

                    svg {
                        line-height: 0;
                        pointer-events: none;
                        margin: 0;
                        width: 15px;
                        margin-top: 0 !important;
                        color: #999;
                    }
                }

                .important-controll.imp svg path {
                    fill: var(--primary-color);
                    color: var(--primary-color);
                }
            }

            .mailInfo {
                display: flex;
                align-items: center;

                .evnt {
                    cursor: pointer;
                }
            }

            .senderInfo {
                font-weight: 500;
                min-width: 150px;
                max-width: 150px;
                color: #666;
                position: relative;
                padding-right: 25px;

                .history-count {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 20px;
                    text-align: center;
                    background: rgba(0, 0, 0, .04);
                    border-radius: 12px;
                    font-size: 12px;
                }
            }


            .snippet {
                display: flex;
                flex-direction: column;
                padding-left: 15px;

                .subject-line {
                    font-weight: 300;
                    margin-bottom: 5px;
                    color: #444;
                }

                .body-snippet {
                    font-size: 12px;
                    color: #999;
                }
            }
        }

        .mail-list-item.loading {
            background: #eee;
            background: linear-gradient(110deg,
                    #eaeaea 8%,
                    #fff 18%,
                    #e8e8e8 33%);
            background-size: 200% 100%;
            -webkit-animation: 1.5s shine linear infinite;
            animation: 1.5s shine linear infinite;
        }

        .singleController {
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;

            .dateTime {
                padding: 7px 6px;
                font-size: 13px;
                color: #666;
            }


            .single-actions {
                display: flex;

                .action-wrap {
                    width: 22px;
                    height: 22px;
                    margin: 0 2px;
                    border-radius: 4px;
                    padding: 2px;
                    position: relative;
                    transition: all 0.3s;
                    transform: scale(0);

                    .load.load03,
                    .load.load03>div {
                        width: 20px;
                        height: 20px;
                    }

                    .load.load03>div {
                        border-width: 2px;
                    }

                    .load.load03 {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }

                    .action-label {
                        position: absolute;
                        top: -28px;
                        left: 50%;
                        white-space: nowrap;
                        background: rgba(0, 0, 0, .6);
                        color: #fff;
                        padding: 2px 10px;
                        border-radius: 4px;
                        z-index: 9999;
                        transform: translate(-50%);
                        display: none;
                        font-weight: 300;

                        &::before {
                            content: "";
                            position: absolute;
                            left: 50%;
                            bottom: -8px;
                            width: 0;
                            height: 0;
                            border: 4px solid transparent;
                            transform: translate(-50%);
                            border-top-color: rgba(0, 0, 0, .6);
                        }
                    }

                    &:hover .action-label {
                        display: block;
                    }

                    .single-action {
                        height: 100%;
                        width: 100%;
                        display: block;
                    }
                }
            }
        }

        .mail-list-item:last-child {
            border-bottom: 0;
        }


        .mailNotFound {
            background: #fff;
            padding: 10px;
            color: #999;
            font-size: 14px;
        }
    }
}


.action-wrap.set-reminder {
    height: 30px;
}

.set-reminder .single-action,
.set-reminder .action-label {
    position: absolute;
    top: 0;
    left: 0;
}


.action-wrap.set-reminder .date-input {
    visibility: hidden;
}


.bulk-action-support.set-reminder {
    width: 0px;
    height: 0px;
}

.bulk-action-support.set-reminder input {
    width: 0px;
    height: 0;
    border: 0;
    visibility: hidden;
}

/*Action Icon*/
.single-action {
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .1s;

    &:hover {
        background-size: 20px;
    }

    &.assign-icon {
        background-image: url('../images/icons/assign.png');
    }

    &.spam-icon {
        background-image: url('../images/icons/spam.png');
    }

    &.notspam-icon {
        background-image: url('../images/icons/restore.png');
    }

    &.trash-icon {
        background-image: url('../images/icons/trash.png');
    }

    &.untrash-icon {
        background-image: url('../images/icons/un-trash.png');
    }

    &.unread-icon {
        background-image: url('../images/icons/unread.png');
    }

    &.read-icon {
        background-image: url('../images/icons/read.png');
    }

    &.delete-icon {
        background-image: url('../images/icons/delete.png');
    }

    &.edit-icon {
        background-image: url('../images/icons/edit.png');
    }

    &.print-icon {
        background-image: url('../images/icons/print.png');
    }

    &.reply-icon {
        background-image: url('../images/icons/reply.png');
    }

    &.resend-icon {
        background-image: url('../images/icons/re-send.png');
    }

    &.replyall-icon {
        background-image: url('../images/icons/reply-all.png');
    }

    &.forward-icon {
        background-image: url('../images/icons/forward.png');
    }

    &.reminder-icon {
        background-image: url('../images/icons/reminder.png');
    }

    &.hold-icon {
        background-image: url('../images/icons/hold.png');
    }

    &.expand-icon {
        background-image: url('../images/icons/expand.png');
    }

    &.expand-icon-alt {
        background-image: url('../images/icons/expand-alt.png');
    }

    &.down-icon {
        background-image: url('../images/icons/down.png');
    }

    &.view-icon {
        background-image: url('../images/icons/view.png');
    }
}

.attachment-icon {
    background-image: url('../images/icons/paper-clip.png');
    width: 22px;
    height: 22px;
    background-position: center;
    background-size: 90%;
    border-radius: 40px;
    background-repeat: no-repeat;
    display: flex;
    line-height: 0;
    margin-left: 5px;
}

.mail-user {
    display: flex;
    background: #f4f4f4;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 12px;

    .bg-icon {
        margin-right: 4px;
    }

    .user-name {
        font-size: inherit;
        color: #777;
    }


}

.bg-icon {
    width: 15px;
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .1s;

    &.user-icon {
        background-image: url('../images/icons/user.png');
    }

    &.compose-icon {
        background-image: url('../images/icons/compose.png');
    }

}

.hdesk-wrap .main-wrap .mail-list-item:hover .singleController .single-actions .action-wrap {
    transform: scale(1) translate(0, 0px);
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

/* opened view  */
.detailsOpend .item-per-page-toggle label {
    display: none;
}

.detailsOpend .item-per-page #ippIn {
    display: none;
}

.list-triger {
    width: 0px;
    align-items: center;
    justify-content: center;
    display: none;
    position: relative;

    span {
        background: #ddd;
        position: absolute;
        cursor: pointer;
        border-radius: 62px;
        width: 5px;
        height: 24px;
        left: -2px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, .4);
        border: 1px solid #fff;

        &:hover {
            background: #bbdfff;
            border: 1px solid #82bef2;
            width: 7px;
            left: -3px;
            transition: all 0.2s ease-in-out;
            transform: scale(1.1);
        }
    }
}

.list-triger:hover+.viewWrap {
    border-left: 1px solid #90c6f5;
}

.detailsOpend.listnone .main-wrap {
    display: none;
}

.detailsOpend .list-triger {
    display: flex;
}

.history-loader {
    display: flex;
    background: #eee;
    justify-content: center;
    padding: 2px 0px;
    border-radius: 12px;
    margin: auto;
    margin-top: 2px;
    cursor: pointer;
    transition: all 0.1s;
    width: 70px;
    margin-bottom: -2px;

    .dot {
        margin: 0 2px;
        z-index: 2;
    }
}

.history-loader:hover {
    background: #c8e5ff;
    width: 90px;
    padding: 4px 10px;
}

.history-loader.loading-history:hover .dot {
    background: #fff;
}

.history-loader.loading-history {
    background: transparent;

    .dot {
        background: #fff;
    }
}

.loading-history {
    --borderWidth: 1px;
    position: relative;
    border-radius: 10px;
}

@keyframes feedIn {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.feed-in {
    animation: feedIn 0.2s ease-in-out forwards;
}


.loading-history:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    // border-radius: calc(2 * var(--borderWidth));
    z-index: 1;
    animation: animatedgradient 1s ease alternate infinite;
    background-size: 300% 300%;
    border-radius: 10px;

}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



.detailsOpend .viewWrap {
    display: flex;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
    flex-direction: column;
    width: calc(100% - 400px);
    border-left: 1px solid #ddd;

    .mail-view {
        height: 100%;

        .details-wrapper {
            height: calc(100% - 40px);
            overflow-y: auto;
            scroll-behavior: smooth;
            scrollbar-width: thin;

            * {
                transition: all .2s;
            }
        }
    }

    .mail-header {
        padding: 5px;
        border-bottom: 1px solid #eee;
        display: flex;
        align-items: center;

        h3 {
            font-size: 16px;
            font-weight: 400;
            color: #575757;
        }
    }

    .mail-details-single {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        margin: 4px 0;

        .mail-details-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #f0f0f0;
            background: #f9f9f9;
            padding-right: 10px;
            border-top: 1px solid #f0f0f0;


            &.incomming-mail .meta {
                border-left: 2px solid #fa8d8d !important;
            }

            .mail-details-subject {
                font-size: 16px;
                padding: 5px 0;
                color: #444;
            }

            .mailDetailsInfo {
                display: flex;
                justify-content: space-between;

                .meta {
                    display: flex;
                    flex-direction: column;
                    border-left: 2px solid var(--primary-color);
                    padding: 2px 4px;
                }

                .formTo {
                    color: #666;
                    padding: 0 5px;
                    // border-left: 2px solid var(--primary-color);

                    .fromto-name {
                        margin: 0px 5px;
                    }
                }

                .mailTime {
                    color: #666;
                    font-size: 12px;
                    padding: 2px 5px;
                    display: inline-block;
                    // border-left: 2px solid var(--primary-color);
                }

                .customerName {
                    color: var(--primary-color);
                    font-weight: 600;
                }

            }

            .controlDetails {
                display: flex;
                align-items: center;
                position: relative;
            }


            .controlDetails>.action-buttons {
                padding: 5px 12px;
                line-height: 1;
                margin: 0 8px;
                background: #f0f0f0;
                border-radius: 15px;
                border: 1px solid #ddd;
            }

            .dropdown-tolggler.moreAction {
                display: flex;
                flex-direction: column;
                justify-content: center;
                background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(249, 249, 249) 56%);
                border: 1px solid #eaeaea;
                width: 21px;
                height: 30px;
                align-items: center;
                border-radius: 5px;

                .dot {
                    width: 3px;
                    height: 3px;
                    background: #555;
                    display: block;
                    border-radius: 50%;
                    margin: 1px;
                    pointer-events: none;
                }
            }

            .dropdown-items.actionItem>.action-wrap {
                border-bottom: 1px solid rgba(0, 0, 0, 0.03);
                cursor: pointer;
                position: relative;

                .single-action {
                    width: 20px;
                    height: 20px;
                    margin-right: 6px;
                    position: absolute;
                    left: 5px;
                    top: 4px;
                }

                .action-label {
                    display: block;
                    padding: 6px 10px;
                    padding-left: 30px;
                }

                .load {
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 4px;
                    left: 5px;

                    div {
                        width: 20px;
                        height: 20px;
                        border-width: 1px;
                    }
                }

                &:hover {
                    background: rgba(0, 0, 0, .08);

                    .single-action {
                        background-size: 20px;
                    }
                }

                &:last-child {
                    border-bottom: 0;
                }
            }
        }




        .mail-details-body {
            position: relative;
            padding: 12px;

            .mail-loader-overly {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: transparent;
                backdrop-filter: blur(5px);
                display: flex;
                justify-content: center;
                padding-top: 100px;

                .load,
                .load>div {
                    width: 8em;
                    height: 8em;
                }
            }
        }

        // .mail-details-body {
        //     height: calc(100% - 100px);

        // }

    }

    .mail-details-single.loaded .mail-details-header .mailDetailsInfo .meta {
        padding-top: 6px !important;
        padding-bottom: 6px !important;
    }

    .mail-details-single.loaded .mail-details-header .mailDetailsInfo .formTo {
        padding: 4px 5px;
    }


    .mail-details-single.loading .history-toggler {
        background: linear-gradient(90deg, RGBA(213, 235, 255, 0.18) 8%, rgba(52, 136, 210, 0.18) 18%, RGBA(240, 153, 153, 0.04) 33%);
        background-size: auto;
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
    }

    .history-wrap .mail-details-single .mail-details-header {
        cursor: pointer;
        position: relative;


        .history-toggler {
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
        }

        .history-snipet {
            font-size: 14px;
            padding: 0px 5px;
            color: #999;
        }

        .mailTime {
            position: absolute;
            right: 5px;
            top: 0px;
        }

        .details-actions {
            display: none;
        }
    }

    .history-wrap .mail-details-body {
        display: none;
    }

    .history-wrap .mail-details-single.loaded .mail-details-body {
        display: block;
        margin-bottom: 20px;
        min-height: 254px;
    }

    .history-wrap .mail-details-single.loaded .mail-details-header {
        .mailTime {
            position: initial;
        }

        .history-snipet {
            display: none;
        }

        .details-actions {
            display: flex;
        }
    }


    .closeView {
        cursor: pointer;
        color: #fb4f4f;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-right: 6px;
        line-height: 0;

        svg {
            width: 16px;
        }

        &:hover {
            background: #f0f0f0;
        }
    }
}

.detailsOpend .viewWrap .mail-details-single.loaded .mail-details-header {
    background: none !important;
    border-bottom: 0 !important;
}

/*Attachment view*/
.popup-body .popup-inner .view-attachments-area {
    margin: 0;
    min-width: 550px;
    max-width: 700px;
}

.view-attachments-area {
    margin: 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    padding-bottom: 10px;
    margin-bottom: 12px;

    .area-title {
        display: flex;
        border-bottom: 1px solid rgba(170, 170, 170, 0.1);
        margin-bottom: 10px;
        align-items: center;

        strong {
            font-size: 15px;
            color: #555;
            display: block;
            padding: 10px 4px;
        }

        .download-all {
            width: 24px;
            height: 24px;
            border: 1px solid #ddd;
            border-radius: 4px;
            margin-left: 15px;
        }
    }


    .attachment-area {
        margin-left: 0;
    }

    .single-attachment.mail-view-attachment {
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 4px;
        width: 120px;
        height: 110px;
        margin-right: 10px;
        position: relative;
        overflow: hidden;

        .attachment-placeholder {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .attachment-actions {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(181, 181, 181, 0.4);
            z-index: 1;
            backdrop-filter: blur(1px);
            border-radius: inherit;
            align-items: center;
            justify-content: center;

            .attachment-action {
                width: 28px;
                height: 28px;
                background-color: rgba(255, 255, 255, 0.77);
                border-radius: 50px;
                border: 1px solid #fff;
                cursor: pointer;
                margin: 2px;
            }

        }

        &:hover .attachment-actions {
            display: flex;
        }

        .file-icon {
            display: block;
            height: 80%;
            width: 80%;
            background-repeat: no-repeat;
            background-size: 40%;
            background-position: center;
            position: absolute;
            left: 50%;
            top: 40%;
            transform: translate(-50%, -50%);
        }

        .file-name {
            font-size: 14px;
            color: #333;
            padding: 5px;
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            z-index: 2;
            background: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(5px);

            .fname {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                text-align: right;
                right: 0;
            }
        }
    }
}


.direct-actions {
    display: flex;
    margin-right: 10px;

    .action-wrap {
        display: flex;
        background: #f6f6f6;
        border-radius: 5px;
        margin: 0 4px;
        border: 1px solid #eaeaea;
        align-items: center;
        cursor: pointer;
        position: relative;

        &:hover .single-action {
            background-size: 20px;

        }

        .action-label {
            padding: 2px 5px;
            padding-left: 25px;
        }

        .single-action {
            width: 20px;
            height: 20px;
            margin-right: 5px;
            position: absolute;
            left: 3px;
            top: 0px;
        }

        .load {
            width: 18px;
            height: 18px;
            position: absolute;
            top: 1px;
            left: 4px;

            div {
                width: 18px;
                height: 18px;
                border-width: 1px;
            }
        }
    }
}

.action-in-body.direct-actions .action-wrap {
    border: 0;
    background: transparent;
}

/*Inline Compose - Reply, Reply ALl, Forward*/
.composer-wrapper.expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;

    .compose {
        position: absolute;
        left: 50%;
        top: 35%;
        transform: translate(-50%, -35%);
        width: 980px;
        background: #e3e3e3;


        .compose-body {
            padding: 0 5px;
            background: transparent;

            #editorElement {
                min-height: 350px;
                background: #fff;
                border: 1px solid #f0f0f0;
                box-shadow: none;
                max-height: 450px;
            }
        }
    }
}

.dot {
    width: 3px;
    height: 3px;
    display: block;
    background: #868686;
    border-radius: 50%;
    pointer-events: none;
}

.compose {
    margin: 10px;
    background: #fbfbfb;
    border-radius: 4px;
    border: 1px solid #ddd;

    .compose-head {
        padding-left: 10px;
        padding-right: 10px;
    }

    .compose-header-inline {
        padding: 1px;
        display: flex;
        align-items: center;
        position: relative;

        .name {
            min-height: 30px;
            display: flex;
            align-items: center;
        }

        .subject-wrap {
            position: relative;
        }

        .subject-wrap::after {
            content: "Subject";
            position: absolute;
            right: 4px;
            top: 6px;
            font-size: 12px;
            padding: 2px 10px;
            background: #f0f0f0;
            border-radius: 4px;
            color: #6c6c6c;
        }

        .header-inputs {
            display: flex;
            flex-direction: column;
            width: 100%;

            .subject-wrap {
                display: none;
            }

            .subject-wrap.open {
                display: block;
            }

            .subject.compose-input {
                width: 100%;
                border: none;
                padding: 5px;
                background: transparent;
                color: #484848;
            }

            .subject.compose-input:focus {
                outline: none;
                color: var(--primary-color);
            }
        }

        .composeAction {
            font-size: 12px;
            padding: 2px 8px;
            background: #f0f0f0;
            border-radius: 16px;
            border: 1px solid #ddd;
            color: #444;
            margin-right: 5px;
        }

        .contactArea.compose-header {
            padding: 0;
            width: 100%;

            .toArea {
                padding: 4px;
                background: transparent;

                .contactIn {
                    border: none;
                    background: transparent;

                    &:focus {
                        outline: none;
                    }
                }

            }

            #ccPrt,
            #bccPrt {
                display: none;
            }

            #ccPrt.open,
            #bccPrt.open {
                display: flex;
            }
        }

        .dropdown {
            margin-right: 5px;
            position: relative;

            .dropdown-tolggler {
                display: flex;
                padding: 4px 8px;
                flex-direction: column;
                height: 23px;
                justify-content: space-between;
                cursor: pointer;
            }

            .dropdown-items {
                left: 0;
                padding: 0px;

                .item-act {
                    padding: 5px 15px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                    color: #333;
                    cursor: pointer;
                }

                .item-act:hover {
                    background: rgba(255, 255, 255, 1);
                }

                .ccTrigger,
                .bccTrigger {
                    cursor: copy;
                }

                .ccTrigger.open,
                .bccTrigger.open {
                    background: var(--primary-color);
                    border-radius: 3px;
                    color: #fff;
                }

                .item-act:last-child {
                    border-bottom: 0;
                }
            }
        }


        .compose-type {
            color: #a6a6a6;
            margin-right: 10px;
        }

        .compose-quick-controll {
            position: absolute;
            right: 3px;
            top: 6px;
            padding: 0px;
            display: flex;

            .single-action {
                width: 20px;
                height: 20px;
                margin: 0 2px;
                background-color: #eee;
                border-radius: 4px;
                border: 1px solid #e1e1e1;
            }
        }
    }


    .compose-body {
        background: #fff;

        #editorElement {
            min-height: 200px;
        }

        textarea {
            width: 100%;
            padding: 10px;
            border: 0;

            &:focus {
                outline: none;
            }
        }
    }
}

.maillist-controller-wrap {
    border-top: 1px solid #f9f9f9;
}

.detailsOpend .main-wrap {
    max-width: 800px;

    .mail-list-item {
        padding: 5px;

        .listControll {
            margin-right: 2px;

            .list-checkBox {
                padding: 0;
            }
        }

        .mailInfo {
            flex-direction: column;
            align-items: flex-start;
        }

        .snippet .body-snippet {
            display: none;
        }

        .mail-user {
            padding: 0;

            .user-name {
                display: none;
            }

            .bg-icon.user-icon {
                height: 22px;
                width: 22px;
                margin-right: 0;
            }
        }

        .singleController .single-actions .action-wrap {
            background: #eaeaea;
        }
    }

    .body-wrap {
        padding: 5px;
        height: calc(100% - 40px);
        overflow-y: auto;
        scrollbar-width: thin;

        .listWrap {
            overflow-y: scroll;
            height: 100%;
            padding-right: 0;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: block;
                width: 0;
            }
        }


    }
}

.detailsOpend .viewWrap .history-wrap .mail-details-single .mail-details-header .history-snipet .singleLine {
    font-size: 12px;
}

.user-icon.unassigned {
    filter: grayscale(100%);
}

.singleLine {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

}

.settings-form {
    padding: 25px;
}

/* Settings Module Customize */
.permissionGroup {
    padding: 15px;

    .group-label {
        padding: 2px 0;
        border-bottom: 1px solid #f6f6f6;
    }
}

.roleDelete {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 5px 8px;
    color: #999;
}

.group-access {
    padding: 10px;
}

.accessItemName {
    color: #666;
    min-width: 150px;
}

.accessItem {
    display: flex;
    padding-top: 1px;
    align-items: center;

    .accessItemPermission {
        margin-right: 10px;
        display: flex;
        align-items: center;
        margin-top: 4px;

        .p_title {
            font-size: 12px;
            color: #a2a2a2;
            margin: 5px;
        }
    }
}

.group-access.accessInline {
    display: flex;
}

.group-access.accessInline .accessItem {
    padding-right: 25px;
}

.group-access.accessInline .accessItemName {
    min-width: auto;
}

.restricted_ip_area {
    display: flex;
    align-items: center;
    padding: 10px 0;

    .IPList {
        margin-right: 10px;

        .ipItem {
            padding: 3px 10px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            margin-right: 5px;
            padding-right: 30px;
            border-radius: 30px;
            background: #b3f4cc;
            color: #333;
            position: relative;

            .removeIp {
                position: absolute;
                right: 0px;
                top: 1px;
                padding: 11px 10px;
                padding-top: 11px;
                padding-right: 10px;
                padding-bottom: 11px;
                padding-left: 10px;
                line-height: 0;
                cursor: pointer;
                color: #f00;
            }
        }
    }

    .ipAddArea {
        padding: 2px;
        padding-left: 2px;
        border: 1px solid transparent;
        border-radius: 20px;
        padding-left: 5px;
        width: 60px;
        transition: all 0.2s;

        .ipInput {
            border: 0;
            width: 115px;
            font-size: 12px;
            display: none;
            padding: 0 5px;

            &:focus {
                outline: none;
                box-shadow: 0 0 0;
            }
        }


        .ipInput:focus-visible {
            outline: none;
        }

        .addNewIP {
            border: 1px solid #ddd;
            padding: 2px 10px;
            border-radius: 20px;
        }
    }

    .ipAddArea:hover {
        border-color: #ddd;
        width: auto;
        display: flex;
    }

    .ipAddArea:hover input {
        display: block;
    }
}

/* CheckBox */
.toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    cursor: pointer;
    width: 70px;
    height: 30px;
    box-shadow: 0px -2px 1px rgb(241, 249, 255), 0px 1px 4px rgba(0, 0, 0, 0.3);
    border-radius: 31px;
}

.toggle::before,
.toggle::after {
    font-family: "Nunito", sans-serif;
    font-size: 10px;
    text-align: center;
    line-height: 3;
    position: absolute;
    width: 38px;
    height: 30px;
    /* border-radius: 28px; */
    top: 0px;
    transition: all 0.15s;
}

.toggle::before {
    content: "OFF";
    left: 0px;
    color: #d74141;
    /* box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5), -1px -1px 1px rgba(83, 83, 83, 0.3) inset; */
}

.toggle::after {
    content: "ON";
    left: 34px;
    color: #b2b2ad;
    box-shadow: none;
    border-radius: 0 30px 29px 0;
}

.toggle:checked::before {
    color: #b2b2ad;
    box-shadow: none;
}

.toggle:checked::after {
    color: var(--primary-color);
    background: linear-gradient(90deg,
            rgb(236, 236, 236) 0%,
            rgb(219, 219, 219) 3%,
            rgb(255, 255, 255) 56%,
            rgb(225, 225, 225) 94%,
            rgb(255, 255, 255) 100%);
}

/*Compose Mail*/
.compose-header {
    display: flex;
    flex-direction: column;

    .compose-input {
        padding: 8px;
        border: 1px solid #f4f4f4;
        border-left: 0;
        border-right: 0;
        margin-bottom: -1px;
    }

    .compose-input:focus-visible {
        outline: none;
    }
}

.toArea {
    background: #fff;
    display: flex;
    align-items: center;
}

.collapse.has-address {
    display: block;
}

.contectIn {
    border: none;
    width: auto;
    outline: none;
    flex-grow: 1;
}

.contectIn:focus-visible {
    outline: none;
}

.toArea>div {
    display: flex;
}

.singleAddress {
    padding: 2px 8px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 25px;
    position: relative;
    margin-right: 8px;

    .removeTo {
        position: absolute;
        right: 8px;
        cursor: pointer;
    }
}

.recipients-group {
    display: flex;
    flex-direction: column;
    position: relative;

    .cc-bcc {
        display: flex;
        flex-direction: column;
    }

    .ccbcss-trig {
        position: absolute;
        right: 8px;
        top: 10px;
    }

    .ccbcss-trig span {
        font-size: 12px;
        padding: 2px 8px;
        line-height: 1;
        background: #f6f6f6;
        margin: 0 2px;
        cursor: pointer;
        border-radius: 4px;
    }

    .ccbcss-trig span.open {
        background: var(--primary-color);
        color: #fff;
    }
}

#editor {
    border: 1px solid #f4f4f4;
    height: 400px;
    position: relative;
    background: #fff;
    border-radius: 0;
}

#editor * {
    line-height: 1.7;
}

#editor h2 {
    font-size: 18px;
}

.compose-head {
    padding: 12px 0px;
}

.compose-footer {
    display: flex;
    align-items: center;
    position: relative;

    .btn.sending {
        display: flex;
        align-items: center;

        .working {
            margin-right: 10px;
        }
    }

    .autosave {
        margin-left: 13px;
        position: absolute;
        right: 70px;
        top: 16px;
        height: 0;

        &.saved {

            &::after {
                content: "";
                width: 14px;
                background: #3488d2;
                height: 1px;
                display: block;
                transform: rotate(-45deg);
            }

            &::before {
                content: "";
                width: 7px;
                height: 1px;
                background: #3488d2;
                display: block;
                transform: rotate(45deg) translate(0px, 5px);
            }
        }

        &.error {
            padding: 8px 6px;
            position: absolute;
            top: 8px;
            border-radius: 17px;
            border: 1px solid indianred;
            right: 75px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.error::after {
            content: "!";
            color: indianred;
            font-weight: bold;
        }



    }
}

.attachment-area {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 100px;


    label {
        margin: 0 0px;
        height: 25px;
        display: flex;
        align-items: center;

        svg {
            max-width: initial;
            color: #666;
            min-width: 25px;
            stroke: #fff;
        }
    }

    .attachments {
        display: flex;
        flex-wrap: wrap;
    }

    .singAtt {
        background: #fff;
        padding: 5px 10px;
        border-radius: 20px;
        color: #424242;
        border: 1px solid #ddd;
        position: relative;
        padding-right: 20px;
        margin-right: 5px;

        .abort {
            position: absolute;
            right: 4px;
            top: 0px;
            padding: 4px;
        }
    }
}

#attach_size {
    padding: 4px 8px;
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 12px;
    border: 1px solid #dbdbdb;
    color: #686868;
    border-radius: 4px;
    min-width: 55px;
    text-align: center;
}

.attach-from-gdrive label svg {
    width: 20px;
    stroke: #ddd;
}

.attach-from-gdrive {
    display: flex;
    align-items: center;
}

.attach-gdrive {
    line-height: 0;
}

.file-item {
    padding: 2px 28px;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    margin-right: 5px;
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;

    .file-icon {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 25px;
        background-size: 15px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .cancel-btn {
        position: absolute;
        right: 8px;
        top: 5px;
        cursor: pointer;
    }

    .file-name {
        margin: 0;
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
    }

    .up-progress {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: rgba(52, 136, 210, .2);
    }
}






/* .ck-toolbar-container {
  position: absolute !important;
  top: initial !important;
  bottom: 0;
} */


/*sidebar */
.sidebar.clps {
    max-width: 48px;
    min-width: 48px;

    .btnCompose {
        padding: 8px;

        svg {
            margin: 0;
        }

        .bg-icon {
            margin: 0;
        }
    }

    .nameLabel {
        display: none;
    }

    a {
        min-height: 35px;
        padding: 0px;

        svg {
            left: 15px;
        }
    }
}

.sidebar-list-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 122px);
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.sidebar-list-wrap::-webkit-scrollbar {
    display: none;
}


.bottom-nav {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #111;

    li {
        width: 100%;
        border-right: 1px solid #111;

        &.active {
            background: var(--primary-color);
        }

        a {
            padding: 10px 0;
            display: flex;
            color: #ddd;
            position: relative;
            justify-content: center;

            svg {
                margin: 0;
                width: 18px;
            }

            &:hover {
                background: rgba(255, 255, 255, 0.05);
            }
        }
    }
}

.clps .bottom-nav {
    flex-direction: column;
}

.list-wrap li a {
    padding: 8px 15px;
    padding-left: 50px;
    display: flex;
    color: #ddd;
    position: relative;
}

.list-wrap li a svg {
    position: absolute;
    left: 22px;
    top: 50%;
    color: #999;
    max-width: 18px;
    transform: translate(0, -50%);
}

.list-wrap li a svg .Nfill {
    fill: #999;
}

.list-wrap li a:hover {
    background: rgba(255, 255, 255, 0.05);
}

.list-wrap li.active a {
    background: var(--primary-color);
    color: #fff;
}

.list-wrap li.active a svg {
    color: #fff;
}

/* Status Bar */
.sidebarCollapseTrig {
    border: none;
    background: #f0f0f0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 40px;
    position: absolute;
    z-index: 9;

    span {
        padding: 2px;
        background: var(--sidebag-bg);
        border-radius: 50%;
        margin: 1px;
    }
}

.status-bar {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    max-height: 40px;
    background: #ffff;
    border-bottom: 1px solid #eee;
    min-height: 38px;
    transition: all 0.2s;
}

.search-wrap {
    display: flex;
    padding-left: 35px;
    flex-basis: 50%;
    max-width: 50%;
    position: relative;
}

.searchCancel {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    line-height: 0;
    padding: 8px 5px 10px 5px;
    background: #ececec;
    border-radius: 4px;
    color: #f00;
    cursor: pointer;
    display: none;
}

.search-wrap input {
    padding: 4px;
    border: none;
    width: 100%;
}

.search-wrap input:focus-visible {
    outline: none;
}

.search-wrap svg {
    width: 20px;
    color: #9b9b9b;
}

.status-wrap {
    display: flex;
    flex-basis: 50%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
    max-width: 50%;
}

.settings span {
    display: block;
    line-height: 1;
}

.status-wrap>a>svg {
    height: 18px;
}

.icon-wrap svg {
    color: #999;
}

.user-menu span svg {
    width: 18px;
    color: #757575;
}

.user-menu span {
    cursor: pointer;
}

#settingsForm {
    height: calc(100% - 42px);
    overflow: hidden;
    overflow-y: auto;
}

.optionGeneralArea {
    padding: 30px 50px;

    .settings-group {
        margin-bottom: 25px;
    }

    .settings-group-head {
        margin-bottom: 15px;
        display: block;
        border-bottom: 1px solid #f7f7f7;
        padding: 5px 0;
        font-size: 16px;
        color: #5b5b5b
    }

    .option-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        label {
            font-size: 14px;
            color: #666;
            min-width: 150px;
        }
    }
}

.text-input {
    border: 1px solid #ddd;
    padding: 2px 10px;
    border-radius: 4px;
}

/* Grid */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.col {
    padding-left: 15px;
    padding-right: 15px;
}

.col.w4 {
    flex-basis: 33.3334%;
    max-width: 33.3334%;
}

.col.w8 {
    flex-basis: 66.6667%;
    max-width: 66.6667%;
}

@media only screen and (max-width: 800px) {
    .detailsOpend .main-wrap {
        display: none;
    }

    .hdesk-wrap .main-wrap .mail-list-item .mailInfo {
        flex-direction: column;
        align-items: self-start;
    }
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg)
    }
}

/*Loader*/
.page-loader {
    display: none;
}

.page-loader.loading {
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-loader .load10>div:nth-child(1),
.page-loader .load10>div:nth-child(2),
.page-loader.loading .load {
    width: 7em;
    height: 7em;
}

/*resizable*/
.resizable {
    position: relative;


    .resizer-horizontal {
        position: absolute;
        right: 0;
        top: 0;
        width: 5px;
        height: 100%;
        background: transparent;
        cursor: ew-resize;
        z-index: 9999;

        &:hover {
            background: rgba(34, 167, 229, .2);
            width: 6px;
        }
    }
}

/* Checkbox */

.checkbox-wrapper-31:hover .check {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-31 {
    position: relative;
    display: inline-block;
    min-width: 18px;
    min-height: 18px;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin-right: 10px;
}

.checkbox-wrapper-31 .background {
    fill: #fff;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 .stroke {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 .check {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-dashoffset: 22;
    stroke-dasharray: 22;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    -appearance: none;
    -webkit-appearance: none;
}

.checkbox-wrapper-31 input[type=checkbox]:hover {
    cursor: pointer;
}

.checkbox-wrapper-31 input[type="checkbox"]:checked+svg .background {
    fill: rgb(229, 45, 3);
}

.checkbox-wrapper-31 input[type=checkbox]:checked+svg .stroke {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-31 input[type=checkbox]:checked+svg .check {
    stroke-dashoffset: 0;
}